

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container-sm {
    @apply mx-auto px-3 md:px-8 max-w-4xl;
  }
  .container-md {
    @apply mx-auto px-3 md:px-8 max-w-5xl;
  }
  .container-lg {
    @apply mx-auto px-3 md:px-8 max-w-6xl;
  }
  .container-xl {
    @apply mx-auto px-3 max-w-7xl;
  }
}

html,
body {
  overflow-x: hidden;
  background-color: #f7f7f7;
  scroll-behavior: smooth;

}

body {
  font-family: "Inter", sans-serif;
}
